#header {
	background: black;
	color:white;
	text-align:left;
	padding:3px;
	height: 80px;
}
#map {
	position: absolute;	
	left: 0px;
	width: 2050px;
	height:100%;
}
#city{
	float:left;
	margin-left: 0px;
	background-color: grey;
	margin-top: 900px;
	padding-left: 50px;
	width:100%;
	color:white;
}
.restIndex{
	float: left;
	width: 110px;
	text-align: right;
	margin-left: 20px;
}
/* .detail{
	float:left;
	width:100px;
} */
.thumbnail {
	margin-right: 10px;
	float:left;
	background: none !important;
	border: none !important;
}

.thumbnail img {
	height: 110px !important;
	width: 180px !important;
	margin-left: 15px !important;
}

.thumbnail2 {
	margin-right: 10px;
	float:left;
}

.thumbnail2 img {
	height: 180px !important;
	width: 295px !important;
	margin-left: 15px !important;
	margin-right: 15px !important;
}
.pic img
{
	height: 200px;	
}
.more {
	float:left;
	margin-top: 30px;

}
.input-group{
	margin: 10px 0px 10px 0px;
	width: 180px;
}

.navbar-right{
	padding: 0 100px 0 0;
}

.navbar-brand{
	margin: 10px 0 0 0;
}

.icon2 {
	border-left: none !important;
	border-right: none !important;
}

.input {
	border-left: none !important;
}
#brisbane{
	margin-left: 0px;
	margin-top: 0px;
	padding-left: 500px;
	padding-top: 10px;
	height:360px;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	background-color: grey !important;
}

#logo {
	color:#9fa0a9;
	font-family: 'Open Sans', sans-serif;
}
.logo {
	margin-left: 40px;
	font-size: 2em;
	color:white;
}
.nav-background {
	background: black !important;
	color:#FFFFFF !important;
}
.dropdown-menu li a{
	color:#FFFFFF;
}
.button-width {
	width:150px;
}
.pop-places {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 10;
	color: black;
	font-size: 1em;
	width:100%;

}
.pop-places-info{
	height:200px;
	width:100%;
	background-color: white;
	padding-top: 45px;
}
.pop-places-button {
	font-size: 3em;
	color: white;
}

h4 {
	text-transform: uppercase;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: 'Open Sans', sans-serif;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

#show{
	width:200px;
	text-align: center;
	margin:auto;
	
}

#popup{
	width: 750px;
	color: black;
}

h5{
	font-size: 16px !important;
}

#popupText{
	color: #6ea7b5;
}

#close{
	margin: 15px 15px 15px 0px;
	float: right;
}